/* 백업용 파일로 실제 코드에서 이 파일이 사용되진 않음. 파일의 일부는 cover.css에 추가되어 있음. */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

.loading {
    width: 100%;
    height: 100%;
    background: black;
}

.loading .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.loading .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
}

.loading .bar1 {
    animation-delay: 0.1s;
}

.loading .bar2 {
    animation-delay: 0.2s;
}

.loading .bar3 {
    animation-delay: 0.3s;
}

.loading .bar4 {
    animation-delay: 0.4s;
}

.loading .bar5 {
    animation-delay: 0.5s;
}

.loading .bar6 {
    animation-delay: 0.6s;
}

.loading .bar7 {
    animation-delay: 0.7s;
}

.loading .bar8 {
    animation-delay: 0.8s;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: transparent;
    }
    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}
